<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>
  <body><%= render :partial => "/shared/site_bar" %><div id='page_container'><div id='page'>
        <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
        <div id='header'>
<% form_tag search_url do -%>
  <%= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Search site for...", 
                     :value => (params[:query] if params[:query])} %>
  <%= submit_tag 'Go' %>
<% end %>

          <%= render :partial => "/shared/header" %>
        </div>
        <div id='body' class='clearfix'>
          <%= yield %>
        </div>
        <div id='footer'>
          <%= render :partial => "/shared/menu",
           :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           } -%>
          <%= render :partial => "/shared/footer" %>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    <script type="text/javascript">
$().ready(function(){

$('#header #menu ul li').hover(
		function () {
			//show its submenu
			$('ul', this).slideDown(100);
      $('ul', this).css('display','block');
 
		}, 
		function () {
			//hide its submenu
			$('ul', this).slideUp(100);			
		}
	);
});
</script> 
  </body>
</html>
